doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title SUKRITI MAHAJAN

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Project Card 1
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Restaurant Revenue Prediction
                                            p Finding a mathematical model to increase the effectiveness of investments in new restaurant sites would allow TFI to invest more in other important business areas, like sustainability, innovation, and training for new employees. Using demographic, real estate, and commercial data, this competition challenges you to predict the annual restaurant sales of 100,000 regional locations.
                                        img.img-fluid(src='https://dummyimage.com/300x400/343a40/6c757d', alt='...')

                            // Project Card 2
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Valuefy
                                            p Scrapping 'https://www.medium.com'. Extracting all internal URLs from all pages of medium.com, recursively without using any external scraping library; and keeping the connection pooling size equal to 5 at all times.
                                        img.img-fluid(src='https://dummyimage.com/300x400/343a40/6c757d', alt='...')

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Let's build something together
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
